.sidebar {
    height: 100vh; /* set height then set overflow: auto makes it can scroll*/
    overflow-x: auto;
    overflow-y: auto; /* make scroll */
    background-color: #b0b0b0; 
    min-width: 20rem;
    max-width: 20rem;

}

.sidebar li > button:hover {
    cursor: pointer;
    background-color: #bbbbbb;
}


